.header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	font-size: 30px;
	color: white;
	margin: 0;
	padding: 2;
}

.about{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.connect{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.body{

}




